* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: antiquewhite;
    text-align: center;

}

.container {
    height: 70vmin;
    width: 70vmin;
    display: flex;
    
    justify-content: center;
    align-items: center;
  

}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}


.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 8vmin;
    color: darkolivegreen;
}
#resetBtn {
    padding: 1rem;
    font-size: 1.25rem;
    color: black;
    border-radius: 1rem;
    background-color: rgba(111, 119, 162, 0.274);
    border: none;
    position: 0px 30px 0px 18px; 
 
  
}

#newBtn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: bisque;
    border-radius: 1rem;
    border: none;
}    

#msg {
    color: #1C2541;
    font-size: 5rem;
}

.msg-container{
    height: 30vmin;
}

.hide {
    display: none;
}